TransliterationApplication/Connected Services/TransliterationWCFServerIIS/TransliterationWCFServerIIS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Transliteration.DBModels" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Transliteration.DBModels" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51798/TransliterationWCFServerIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="User" nillable="true" type="tns:User" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUser" nillable="true" type="tns:ArrayOfUser" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="_email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_firstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element minOccurs="0" name="_lastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_transliterations" nillable="true" type="tns:ArrayOfTransliteration" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfTransliteration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Transliteration" nillable="true" type="tns:Transliteration" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTransliteration" nillable="true" type="tns:ArrayOfTransliteration" />
  <xs:complexType name="Transliteration">
    <xs:sequence>
      <xs:element minOccurs="0" name="_date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="_guid" type="ser:guid" />
      <xs:element minOccurs="0" name="_rawText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_transliteratedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="_user" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="_userGuid" type="ser:guid" />
    </xs:sequence>
    <xs:attribute ref="ser:Id" />
    <xs:attribute ref="ser:Ref" />
  </xs:complexType>
  <xs:element name="Transliteration" nillable="true" type="tns:Transliteration" />
</xs:schema>