TransliterationApplication/Connected Services/TransliterationWCFServerIIS/TransliterationWCFServerIIS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransliterationWCFServerIIS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51798/TransliterationWCFServerIIS.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51798/TransliterationWCFServerIIS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51798/TransliterationWCFServerIIS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Transliteration.DBModels" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransliterationService_GetAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_GetAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_AddUser_InputMessage">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_AddUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_GetUser_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_GetUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_AddTransliteration_InputMessage">
    <wsdl:part name="parameters" element="tns:AddTransliteration" />
  </wsdl:message>
  <wsdl:message name="ITransliterationService_AddTransliteration_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddTransliterationResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransliterationService">
    <wsdl:operation name="GetAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransliterationService/GetAllUsers" message="tns:ITransliterationService_GetAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransliterationService/GetAllUsersResponse" message="tns:ITransliterationService_GetAllUsers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransliterationService/AddUser" message="tns:ITransliterationService_AddUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransliterationService/AddUserResponse" message="tns:ITransliterationService_AddUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransliterationService/UserExists" message="tns:ITransliterationService_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransliterationService/UserExistsResponse" message="tns:ITransliterationService_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransliterationService/GetUser" message="tns:ITransliterationService_GetUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransliterationService/GetUserResponse" message="tns:ITransliterationService_GetUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddTransliteration">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransliterationService/AddTransliteration" message="tns:ITransliterationService_AddTransliteration_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransliterationService/AddTransliterationResponse" message="tns:ITransliterationService_AddTransliteration_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransliterationService" type="tns:ITransliterationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/ITransliterationService/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/ITransliterationService/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/ITransliterationService/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://tempuri.org/ITransliterationService/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTransliteration">
      <soap:operation soapAction="http://tempuri.org/ITransliterationService/AddTransliteration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransliterationWCFServerIIS">
    <wsdl:port name="BasicHttpBinding_ITransliterationService" binding="tns:BasicHttpBinding_ITransliterationService">
      <soap:address location="http://localhost:51798/TransliterationWCFServerIIS.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>